<% provide(:title, 'Contact Page') %>
<!DOCTYPE html>
<html>
<head>
<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
</head>
<body>
<h1>Contact Page</h1>
<p>
The chief architect for this sample application learned rails from <a href="http://railstutorial.org">Rails Tutorial </a> by Michael Hartl.
</p>
</body>
</html>